.heading-font-l {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.heading-font-r {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.heading-font-b {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-two-l {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-two-r {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-two-b {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* //------------------------------------------- */
